/******************************************************************************/
/*                           SPONSOREDLINKS                                   */
/******************************************************************************/





/**************************** Sponsoredlinks **********************************/



/**************************** back-office *************************************/
div.sponsoredlinks-form-entry
{
	margin: 0 0 0 10px;
}

div.sponsoredlinks-form-entry ul
{
	margin: 0 0 0 30%;
	padding: 0 0 0 5px;
}

div.sponsoredlinks-form
{
	margin: 0px 5px;
}
fieldset.sponsoredlinks-form
{
	-moz-border-radius: 10px 10px 10px 10px;
	border: 1px solid #55B4E5;
	margin: 0px 0px 5px;
}

fieldset.sponsoredlinks-form textarea
{
    border: 1px solid #55B4E5;
    font-family: Arial,Tahoma,Helvetica,sans-serif;
    font-size: 100%;
    margin: 2px 0;
    padding-left: 4px;
}

fieldset.sponsoredlinks-form legend
{
	color: #444444;
    display: block;
    font-weight: bold;
    margin-left: 10px;
    padding: 0 4px;
}

#sponsoredlinks-advice
{
	color: #888888;
	font-style: italic;
	margin: 0 10px -7px;
}

#sponsoredlinks-advice-caption
{
	color: #888888;
	font-style: italic;
	margin: -4px 0 4px 10px;
}

#sponsoredlinks-warning-caption
{
	color: #E5576F;
	margin: -4px 0 4px 10px;
}